Body {
  font-family: Calibri, Helvetica, sans-serif;
}
.container {
  padding: 10px;
  margin-top: 10px;
  background-color: lightblue;
  width: 40%;
  margin-left: 30%;
  margin-bottom: 10px;
}
.btncontainer {
  display: flex;
  justify-content: center;
  background-color: lightblue;
  align-items: center;
  height: auto;
}
.imgcontainer {
  text-align: center;
  margin: 20px 0 12px 0;
}
img.avatar {
  width: 30%;
  border-radius: 50%;
}

button {
  background-color: #4caf50;
  width: 50%;
  color: orange;
  padding: 15px 20px;
  margin: 10px 10px;
  border: none;
  cursor: pointer;
  align-content: center;
  border-radius: 5px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  margin: 8px 0;
  padding: 10px;
  display: block;
  border: 2px;
  box-sizing: border-box;
}
button:hover {
  opacity: 0.9;
}
span.psw {
  display: inline;
  float: none;
}

@media screen and (max-width: 360px) {
  .container {
    padding: 25px;
    margin: auto;
    margin-top: 10px;
    background-color: lightblue;
    width: 100%;
  }
  span.psw {
    display: inline;
    float: none;
  }
  input[type="text"],
  input[type="password"] {
    width: 100%;
    margin: 8px 0;
    padding: 10px;
    display: block;
    border-radius: 10px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 420px) {
  .container {
    padding: 20px;
    margin: auto;
    margin-top: 10px;
    background-color: lightblue;
    width: 95%;
  }
  span.psw {
    display: inline;
    float: none;
  }
  input[type="text"],
  input[type="password"] {
    width: 0%;
    margin: 8px 0;
    padding: 10px;
    display: block;
    border: 2px;
    box-sizing: border-box;
  }
}

.forgotP{
  color: blue;
  cursor: pointer;
}